<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.randmcnally.crashdetection">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- This permission is needed for automatic drive detection by Zendrive. -->
    <uses-permission android:name= "com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <!-- This permission is needed so that Zendrive can track drives completely. This prevents Android from shutting down phone CPU in the middle of a drive. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application android:allowBackup="true"
                 android:icon="@mipmap/ic_launcher"
                 android:label="@string/app_name"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme">
        <activity android:name=".LiabilityActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity"/>
        <activity android:name=".AccidentActivity"/>

        <!-- BOOT receiver that launches CNService -->
        <receiver android:name=".services.OnBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>

                <!-- if OEM is HTC... -->
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <!-- CNService will run in its own process -->
        <service android:name="com.randmcnally.crashdetection.services.CNService"
                 android:process=":cn_service_process"
                 android:exported="true" >
            <intent-filter>
                <action android:name="com.randmcnally.CNService" />
            </intent-filter>
        </service>

        <!-- the IntentService is controlled by CNService, thus runs in the same process -->
        <service android:name=".services.CrashDetectionZendriveIntentService"
                 android:process=":cn_service_process"
                 android:exported="true" />

        <service android:name="com.zendrive.sdk.services.UserActivityService" />
        <service android:name="com.zendrive.sdk.services.ZendriveService" />
        <receiver android:name="com.zendrive.sdk.receiver.WakeupReceiver"
                  android:label="WakeupReceiver" />

    </application>

</manifest>